
<!--<div th:replace="~{layout :: layout(~{::title}, ~{::body}, ~{::breadcrumb})}" xmlns:th="http://www.thymeleaf.org">-->
<!--    <nav class="breadcrumb" aria-label="breadcrumbs" th:fragment="breadcrumb(listaDePaginas)" >-->
<!--        <ul>-->
<!--            <li th:each="pagina: ${listaDePaginas}">-->
<!--                <a th:text="${pagina.nome}" th:href="${pagina.url}"></a>-->
<!--            </li>-->
<!--            <li class="is-active"><a href="#" aria-current="page">Página Atual</a></li>-->
<!--        </ul>-->
<!--    </nav>-->

<!--</div>-->



<!--th:replace="inicio :: breadcrumb(listaDePaginas)"-->