<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="modal rz-modal animated fadeIn" id="Modal">
    <div class="modal-background is-modal-close"></div>
    <div class="modal-card animated bounceInUp">
        <header class="modal-card-head">
            <p class="modal-card-title">Titulo</p>
            <button class="is-modal-close delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <span></span>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="okButton"></button>
            <button class="is-modal-close button" id="cancelButton"></button>
        </footer>
    </div>
</div>
</body>
</html>