body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;

  @include mobile() {
    font-size: 0.9em;
  }
}
.box {
  $box-padding: 0;
}
.main {
  min-height: calc(
    100vh - 204px
  ); //mudar de acordo com o cabecalho+rodape,de acordo na pagina com o menor conteudo do site
  overflow: auto;
}

.title {
  // color: $secondary-color;
  color: #78944b;
}

h1 {
  text-align: center;
  font-family: 'Neucha';
  color: #78944b;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Neucha';
  color: #78944b;
}

h3 {
  color: $secondary-color;
  text-align: center;
  font-size: 1em;
  font-family: 'Neucha';
}
.logo img {
  width: 104px;
}
.logo {
  margin: auto;
}
.d-block {
  display: block !important;
}
.unidade-medida{
  font-size: 23px;
}

.subtitle-color {
  color: $dark-grey;
}