@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');


.title {
  color: $secondary-color;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: $secondary-color;
  text-align: center;
  }

h2 {
  font-family: 'Roboto', sans-serif;
  color: $secondary-color;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: $secondary-color;
  text-align: center;
  font-size: 1.0em;
}

