//Cores
$primary-color:#394d17 !important;
$secondary-color: #cfe4a9 !important;
$success-color: #ffffff !important;
$error-color: #ffffff !important;
$btn-color: #cfe4a9 !important;
$btn-hover: #83a942 !important;
