//Cores
$primary-color:#394d17 !important;
$secondary-color: #ffffff !important;
$success-color: #ffffff !important;
$error-color: #ffffff !important;
$cor-botao: #ffffff !important;
$hover-botao: #44BAEA !important;
