//Cores<span> R$ 0,00</span>
$primary-color: #ebf1e0;
$secondary-color: #394d17;
$third-color: rgb(160, 197, 100);
$dark-grey: #363636;
$success-color: blue;
$error-color: red;
$btn-color: $third-color;
$btn-hover: darken($primary-color, 20%);
$striped-row: #a9b9aa36;
$label: #cfe3a9;
$transport-false-color: rgb(226, 81, 81);
$transport-true-color: #78944b;