<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <section class="section">
    <section class="container">
      <h1 class="title centraliza-texto">Compras</h1>
      <div class="columns">
        <div class="column box is-12 rz-list striped">
          <div class="field">
            <div class="control">
              <div class="rz-list row rx-0">
                <span>Compras</span>
              </div>
              <ul class="lista-pedidos">
                <li class="rz-list row" th:each="compras: ${comprasFeitas}">
                  <span th:text="${compras.nome}"></span>
                  <div class="mb-3 flex end buttons has-addons">
                    <a class="button rz-button list-style" th:href="@{/pedidos/2}">
                      <i class="fas fa-eye"></i>
                    </a>
                    <a class="button rz-button list-style">
                      <i class="fas fa-edit"></i>
                    </a>
                    <form th:action="@{/compras/{id}/excluir(id=${compras.id})}" method="post" name="meuform"
                      th:onsubmit="return compras.exibeConfirmacaoDeExclusaoDaCompra()">
                      <button type="submit" class="button rz-button list-style">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
            <div class="rz-list row">
              <a class="button rz-button is-rounded" th:href="@{/}">Voltar</a>
              <a class="button rz-button is-rounded" th:href="@{/minhas-listas}">Novo Pedido</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>

</html>
</body>

</html>