<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raízes</title>
</head>
<body>
<section class="section">
    <section class="container">
        <div class="columns">
            <div class="column is-12">
                    <h1 class="title centraliza-texto" th:text="${pedido.nome}"></h1>
                    <input th:type="hidden" name="nome" th:value="${pedido.nome}">
<!--                    <div th:each="produto, index : ${produtoresDeProdutos.keySet()}">-->
<!--                        <h4 th:text="${produto.nome}"></h4>-->
<!--                        <div class="bigbox">-->
<!--                            <div th:each="produtoProdutor: ${produtoresDeProdutos.get(produto)}">-->
<!--                                <div class="box" id="inputRadio">-->
<!--                                    <div class="flex equal-sizing flex-row">-->
<!--                                        <label class="radio" th:onchange="RealizarPedido.habilitaInputsDeQuantidade()">-->
<!--                                            <input type="radio" class="d-block" th:value="${produtoProdutor.id}"-->
<!--                                                   th:field="*{pedidosProdutosProdutores[__${index.index}__].produtoProdutor}">-->
<!--                                            <span th:text="${produtoProdutor.produtor.nome}"></span>-->
<!--                                        </label>-->
<!--                                        <span><i class="fas fa-map-marker-alt"></i>-->
<!--                        <span th:text="${produtoProdutor.produtor.endereco.cidade.nome}"></span>-->
<!--                        <span th:text="${produtoProdutor.produtor.endereco.cidade.estado.uf}"></span>-->
<!--                      </span>-->
<!--                                        <span class="span-transport" th:if="${produtoProdutor.produtor.possuiTransporte}">-->
<!--                        <i class="fas fa-truck icon-transport-true"> </i>-->
<!--                      </span>-->
<!--                                        <span class="span-transport" th:unless="${produtoProdutor.produtor.possuiTransporte}">-->
<!--                        <i class="fas fa-truck icon-transport-false"></i>-->
<!--                      </span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <div class="flex equal-sizing flex-row">-->
<!--                        <span><i class="fas fa-spa"></i>-->
<!--                          <span th:text="${produtoProdutor.tipoDeCultivo}"></span>-->
<!--                        </span>-->
<!--                                            <span th:field="*{pedidosProdutosProdutores[__${index.index}__].valor}"-->
<!--                                                  th:value="${produtoProdutor.preco}" th:text="${produtoProdutor.preco}"></span>-->
<!--&lt;!&ndash;                                            <span th:text="${produto.unidadeMedida.codigo}"></span>&ndash;&gt;-->
<!--                                            </span>-->
<!--                                            <label class="label">Quantidade: <input size="5"-->
<!--                                                                                    th:field="*{pedidosProdutosProdutores[__${index.index}__].quantidadePedido}" type="number"-->
<!--                                                                                    placeholder="Ex: 4"></label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <span>Total do Pedido: R$ 0,00</span>-->
<!--                    <div class="field">-->
<!--                        <div class="field">-->
<!--                            <div class="rz-box-footer flex space-between p-3">-->
<!--                                <a href="/pedidos" class="button rz-button is-rounded">Cancelar</a>-->
<!--                                <button class="button rz-button is-rounded" type="submit">Salvar</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </section>
</section>
</body>
</html>