<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>

<body>
  <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.dominio.TipoDeUsuario).PRODUTOR.getValor())">
    <h1 class="fs-22 pt-4">Você não tem autorização para acessar essa página</h1>
  </div>
  <div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.dominio.TipoDeUsuario).CLIENTE.getValor())">
    <section class="section">
      <div th:replace="fragmentos/breadcrumb"></div>
      <section class="section">
        <section class="container">
          <div class="columns">
            <div class="column is-12">
              <form class="rz-form" id="formEditarPedido" th:object="${pedido}"
                th:action="@{/pedidos/{id}/editar-pedido(id=${pedido.id})}" method="post">
                <div th:if="${mensagem}">
                  <span th:text="${mensagem}"></span>
                </div>
                <div th:if="${erros}">
                  <li th:each="erro : ${erros}" th:text="${erro.getDefaultMessage()}"></li>
                </div>
                <h1 class="title centraliza-texto" th:text="${pedido.nome}"></h1>
                <input type="hidden" th:value="${pedido.nome}" th:name="nome">
                <div th:each="produto, index : ${produtoProdutoresPorProduto.keySet()}">
                  <h3 class="flex start fs-22 pt-3 pl-2" th:text="${produto.nome}"></h3>
                  <div class="bigbox">
                    <div th:each="produtoProdutor: ${produtoProdutoresPorProduto.get(produto)}"
                      class="js-produto-produtores">
                      <input th:value="${pedido.criadoEm}" th:name="criado_em" hidden>
                      <div class="box" id="inputRadio">
                        <div class="w-75 columns is-desktop">
                          <div class="column">
                            <span class="bigcheck">
                              <input type="radio" th:checked="${produtoProdutoresDoPedido.contains(produtoProdutor)}"
                                th:id="ProdutoProdutor + ${produtoProdutor.id}"
                                th:name="pedidosProdutosProdutores[+${index.index}+].produtoProdutor"
                                th:value="${produtoProdutor.id}">
                              <label class="radio" th:for="ProdutoProdutor + ${produtoProdutor.id}">
                                <span class="check"><i class="far fa-check-circle"></i></span>
                                <span class="radio-check"><i class="fas fa-plus"></i></span>
                                <span th:text="${produtoProdutor.produtor.nome}"></span>
                              </label>
                            </span>
                          </div>
                          <span class="flex column center column"><i class="fas fa-map-marker-alt"></i>
                            <span class="pl-1"
                              th:text="${produtoProdutor.produtor.endereco.cidade.nome} + ' - '"></span>
                            <span class="pl-1" th:text="${produtoProdutor.produtor.endereco.cidade.estado.uf}"></span>
                          </span>
                          <span class="flex column center span-transport column"
                            th:if="${produtoProdutor.produtor.possuiTransporte}">
                            <i class="fas fa-truck icon-transport-true"> </i>
                          </span>
                          <span class="flex column center span-transport column"
                            th:unless="${produtoProdutor.produtor.possuiTransporte}">
                            <i class="fas fa-truck icon-transport-false"></i>
                          </span>
                        </div>
                        <div class="pl-2 columns is-desktop">
                          <span class="column"><i class="fas fa-spa"></i>
                            <span class="pl-1" th:text="${produtoProdutor.tipoDeCultivo}"></span>
                          </span>
                          <div class="flex center column" id="totalProduto">
                            <label class="label">
                              Valor: R$
                              <span th:text="${produtoProdutor.preco}" id="preco" onfocus="Calcular()">
                              </span>
                              <span th:text="${produto.unidadeMedida.codigo}">
                              </span>
                            </label>
                          </div>
                          <label class="flex center column">
                            <span class="pr-1 quantidade-pedido">Quantidade:</span>
                            <span th:if="${produtoProdutoresDoPedido.contains(produtoProdutor)}">
                              <input class="w-50 pl-1 js-quantidade-pedido" size="5"
                                th:field="*{pedidosProdutosProdutores[__${index.index}__].quantidadePedido}"
                                type="number" th:onchange="Calcular.totalEditar(event)" min=0 placeholder="Ex: 4"
                                disabled>
                              /<span th:text="${produto.unidadeMedida.codigo}"></span>
                            </span>
                            <span th:unless="${produtoProdutoresDoPedido.contains(produtoProdutor)}">
                              <input class="w-50 pl-1 js-quantidade-pedido" size="5" type="number"
                                th:onchange="Calcular.totalEditar(event)" min=0 placeholder="Ex: 4" disabled>
                              /<span th:text="${produto.unidadeMedida.codigo}"></span>
                            </span>

                          </label>
                          <label class="label column">Total: R$ <span class="resultado" id="resultado">0.00</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bb-1 pt-3 flex space-between fs-18">
                  <span>Total do Pedido: R$</span>
                  <span id="valorTotal"></span>
                </div>
                <div class="field border-top pt-4">
                  <div class="control">
                    <div class="rz-box-footer flex space-between">
                      <button class="button rz-button is-rounded"
                        th:onclick="return EditarPedido.exibeConfirmacaoDeCancelamento('/pedidos')">Cancelar</button>
                      <button class="button rz-button is-rounded" type="submit">Salvar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </section>
</body>

</html>