<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title centraliza-texto">Pedidos</h1>
      <div class="columns">
        <div class="column box is-12 rz-list striped">
          <div class="field">
            <div class="control">
              <ul>
                <li class="rz-list row rx-0">
                  <h3 class="flex-column subtitle">Nome do Pedido</h3>
                </li>
                <hr>
              </ul>
              <ul class= "listas">
                <li class="rz-list row">
                  <span class="flex-column">Churrasco de domingo</span>
                  <div class="mb-3 flex end buttons has-addons">
                    <span class="button rz-button list-style" th:href="@{/pedidos/9}">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="button rz-button list-style">
                      <i class="fas fa-edit"></i>
                    </span>
                    <div type="submit" class="mb-0 flex end buttons has-addons">
                      <span class="button rz-button list-style">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </div>
                  </div>
                </li>
                <li class="rz-list row">
                  <span class="flex-column">Lista vegana</span>
                  <div class="mb-3 flex end buttons has-addons">
                    <span class="button rz-button list-style" th:href="@{/pedidos/9}">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="button rz-button list-style">
                      <i class="fas fa-edit"></i>
                    </span>
                    <div type="submit" class="mb-0 flex end buttons has-addons">
                      <span class="button rz-button list-style">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="rz-list row">
            <a class="button rz-button is-rounded" th:href="@{/}">Voltar</a>
            <a class="button rz-button is-rounded" th:href="@{/minhas-listas/}">Novo Pedido</a>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>