<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Raízes</title>
</head>

<body>
    <section class="section">
        <section class="container">
            <h1 class="title centraliza-texto">Feijoada de Domingo</h1>
            <div class="columns">
                <div class="column is-12">
                    <form class="rz-form">
                        <div>
                        <h2 class="flex start">Cebola</h2>
                        <div class="box">
                            <div class="w-75 flex equal-sizing flex-row">
                                <span class="bigcheck">
                                    <input type="radio" name="produto.id1" id="Aldo + Cebola" >
                                    <span class="check"><i class="far fa-check-circle"></i></span>
                                    <span class="radio-check"><i class="fas fa-plus"></i></span>
                                    <label class="radio" for="Aldo + Cebola"> Aldo Produtor</label>
                                </span>

                                <div class="flex center">
                                    <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                </div>
                                <span class="flex center span-transport" th:if="${true}">
                                    <i class="fas fa-truck icon-transport-true"> </i>
                                </span>

                                <span class="flex center span-transport" th:unless="${true}">
                                    <i class="fas fa-truck icon-transport-false"></i>
                                </span>
                            </div>
                            <div>
                                <div class="flex equal-sizing flex-row">
                                    <span class="tipo"><i class="fas fa-spa"></i> Orgânico</span>
                                    <span class="flex center">Valor: R$ 5,00</span>
                                    <label class="flex flex-row center">
                                        <p>Quantidade </p>
                                        <input size="5" type="text" placeholder="Ex: 4">
                                    </label>
                                    <span class="flex end"><b>Total: R$ 0,00</b></span>
                                </div>
                            </div>
                        </div>



                        <div class="box">
                                <div class="w-75 flex equal-sizing flex-row">
                                    <span class="bigcheck">
                                        <input type="radio" name="produto.id1" id="João Severo + Cebola" >
                                        <span class="check"><i class="far fa-check-circle"></i></span>
                                        <span class="radio-check"><i class="fas fa-plus"></i></span>
                                        <label class="radio" for="João Severo + Cebola"> João Severo</label>
                                    </span>
    
                                    <div class="flex center">
                                        <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                    </div>
                                    <span class="flex center span-transport" th:if="${false}">
                                        <i class="fas fa-truck icon-transport-true"> </i>
                                    </span>
    
                                    <span class="flex center span-transport" th:unless="${false}">
                                        <i class="fas fa-truck icon-transport-false"></i>
                                    </span>
                                </div>
                                <div>
                                    <div class="flex equal-sizing flex-row">
                                        <span class="tipo"><i class="fas fa-spa"></i> Hidropônico</span>
                                        <span class="flex center">Valor: R$ 5,00</span>
                                        <label class="flex flex-row center">
                                            <p>Quantidade </p>
                                            <input size="5" type="text" placeholder="Ex: 4">
                                        </label>
                                        <span class="flex end"><b>Total: R$ 0,00</b></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                   
                        <h2 class="flex start">Tomate</h2>
                        <div>
                        <div class="box">
                                <div class="w-75 flex equal-sizing flex-row">
                                    <span class="bigcheck">
                                        <input type="radio" name="produto.id2" id="Aldo + Tomate" >
                                        <span class="check"><i class="far fa-check-circle"></i></span>
                                        <span class="radio-check"><i class="fas fa-plus"></i></span>
                                        <label class="radio" for="Aldo + Tomate"> Aldo Produtor</label>
                                    </span>
    
                                    <div class="flex center">
                                        <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                    </div>
                                    <span class="flex center span-transport" th:if="${false}">
                                        <i class="fas fa-truck icon-transport-true"> </i>
                                    </span>
    
                                    <span class="flex center span-transport" th:unless="${false}">
                                        <i class="fas fa-truck icon-transport-false"></i>
                                    </span>
                                </div>
                                <div>
                                    <div class="flex equal-sizing flex-row">
                                        <span class="tipo"><i class="fas fa-spa"></i> Orgânico</span>
                                        <span class="flex center">Valor: R$ 5,00</span>
                                        <label class="flex flex-row center">
                                            <p>Quantidade </p>
                                            <input size="5" type="text" placeholder="Ex: 4">
                                        </label>
                                        <span class="flex end"><b>Total: R$ 0,00</b></span>
                                    </div>
                                </div>
                            </div>
                        <div class="box">
                                <div class="w-75 flex equal-sizing flex-row">
                                    <span class="bigcheck">
                                        <input type="radio" name="produto.id2" id="João Severo + Tomate" >
                                        <span class="check"><i class="far fa-check-circle"></i></span>
                                        <span class="radio-check"><i class="fas fa-plus"></i></span>
                                        <label class="radio" for="João Severo + Tomate">João Severo</label>
                                    </span>
    
                                    <div class="flex center">
                                        <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                    </div>
                                    <span class="flex center span-transport" th:if="${true}">
                                        <i class="fas fa-truck icon-transport-true"> </i>
                                    </span>
    
                                    <span class="flex center span-transport" th:unless="${true}">
                                        <i class="fas fa-truck icon-transport-false"></i>
                                    </span>
                                </div>
                                <div>
                                    <div class="flex equal-sizing flex-row">
                                        <span class="tipo"><i class="fas fa-spa"></i> Orgânico</span>
                                        <span class="flex center">Valor: R$ 5,00</span>
                                        <label class="flex flex-row center">
                                            <p>Quantidade </p>
                                            <input size="5" type="text" placeholder="Ex: 4">
                                        </label>
                                        <span class="flex end"><b>Total: R$ 0,00</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                    <div class="w-75 flex equal-sizing flex-row">
                                        <span class="bigcheck">
                                            <input type="radio" name="produto.id2" id="Maria Silva + Tomate" >
                                            <span class="check"><i class="far fa-check-circle"></i></span>
                                            <span class="radio-check"><i class="fas fa-plus"></i></span>
                                            <label class="radio" for="Maria Silva + Tomate">Maria Silva</label>
                                        </span>
        
                                        <div class="flex center">
                                            <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                        </div>
                                        <span class="flex center span-transport" th:if="${false}">
                                            <i class="fas fa-truck icon-transport-true"> </i>
                                        </span>
        
                                        <span class="flex center span-transport" th:unless="${false}">
                                            <i class="fas fa-truck icon-transport-false"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <div class="flex equal-sizing flex-row">
                                            <span class="tipo"><i class="fas fa-spa"></i> Orgânico</span>
                                            <span class="flex center">Valor: R$ 5,00</span>
                                            <label class="flex flex-row center">
                                                <p>Quantidade </p>
                                                <input size="5" type="text" placeholder="Ex: 4">
                                            </label>
                                            <span class="flex end"><b>Total: R$ 0,00</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="flex space-between fs-20">
                            <span>Total do Pedido:</span>
                            <span>R$ 0,00</span>
                        </div>

                        <div class="field border-top pt-4">
                            <div class="control">
                                <div class="rz-box-footer flex space-between">
                                    <button class="button rz-button is-rounded"
                                        th:onclick="return RealizarPedido.exibeConfirmacaoDeCancelamento('/pedidos')">Cancelar</button>
                                    <a th:href="@{/pedidos}" class="button rz-button is-rounded"
                                        type="submit">Salvar</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </section>
</body>

</html>