<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>

<body>
  <section class="section">
    <section class="container">
      <div class="columns">
        <div class="column is-12">
          <form class="rz-form" id="formRealizarPedido" th:object="${pedido}" th:action="@{/pedidos/realizar-pedido}"
            method="post">
            <h1 class="title centraliza-texto" th:text="${nomeLista}"></h1>
            <input th:type="hidden" name="nome" th:value="${nomeLista}">
            <div th:each="produto, index : ${produtoresDeProdutos.keySet()}">
              <h3 class="flex start fs-22 pt-3 pl-2" th:text="${produto.nome}"></h3>
              <div class="bigbox">
                <div th:each="produtoProdutor: ${produtoresDeProdutos.get(produto)}">
                  <div class="box" id="inputRadio">
                    <div class="w-75 flex equal-sizing flex-row">
                      <span class="bigcheck">
                        <input type="radio" th:id="ProdutoProdutor + ${produtoProdutor.id}"
                          th:value="${produtoProdutor.id}"
                          th:field="*{pedidosProdutosProdutores[__${index.index}__].produtoProdutor}">
                        <label class="radio" th:for="ProdutoProdutor + ${produtoProdutor.id}">
                          <span class="check"><i class="far fa-check-circle"></i></span>
                          <span class="radio-check"><i class="fas fa-plus"></i></span>
                          <span th:text="${produtoProdutor.produtor.nome}"></span>
                        </label>
                      </span>
                      <span class="flex column center"><i class="fas fa-map-marker-alt"></i>
                        <span class="pl-1" th:text="${produtoProdutor.produtor.endereco.cidade.nome} + ' - '"></span>
                        <span class="pl-1" th:text="${produtoProdutor.produtor.endereco.cidade.estado.uf}"></span>
                      </span>
                      <span class="flex column center span-transport"
                        th:if="${produtoProdutor.produtor.possuiTransporte}">
                        <i class="fas fa-truck icon-transport-true"> </i>
                      </span>
                      <span class="flex column center span-transport"
                        th:unless="${produtoProdutor.produtor.possuiTransporte}">
                        <i class="fas fa-truck icon-transport-false"></i>
                      </span>
                    </div>
                    <div class="pl-2 flex equal-sizing flex-row">
                      <span><i class="fas fa-spa"></i>
                        <span class="pl-1" th:text="${produtoProdutor.tipoDeCultivo}"></span>
                      </span>
                      <div class="flex center" id="totalProduto">
                        <label class="label">
                          Valor:R$
                          <span 
                            th:field="*{pedidosProdutosProdutores[__${index.index}__].valor}"
                            th:text="${produtoProdutor.preco}"
                            id="preco" 
                            onfocus="Calcular()">
                          </span>
                          <span 
                            th:text="${produto.unidadeMedida.codigo}">
                          </span>
                        </label>
                      </div>
                      <label class="flex center">
                        <span class="pr-1">Quantidade:</span>
                        <input class="w-25 pl-1" size="5"
                          th:field="*{pedidosProdutosProdutores[__${index.index}__].quantidadePedido}" type="number"
                          th:oninput="Calcular(event)" min=0 placeholder="Ex: 4" disabled>
                          /<span
                          th:text="${produto.unidadeMedida.codigo}">
                        </span>
                      </label>
                      <label class="label">Total:R$
                        <span class="resultado" id="resultado"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bb-1 pt-3 flex flex-row end fs-18">
              <span>Total do Pedido: R$</span>
              <span id="valorTotal"></span>
            </div>
            <div class="field border-top pt-4">
              <div class="control">
                <div class="rz-box-footer flex space-between">
                  <button class="button rz-button is-rounded"
                    th:onclick="return RealizarPedido.exibeConfirmacaoDeCancelamento('/minhas-listas')">Cancelar</button>
                  <button class="button rz-button is-rounded" type="submit">Salvar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</body>

</html>