<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="section">
    <section class="container">
        <h1 class="title centraliza-texto">Feijoada de Domingo</h1>

        <div class="columns">
            <div class="column is-12">
                <form class="rz-form" id="formEditaLista" th:action="@{/pedidos/{id}/realizar-pedido}"
                      method="post">
                    <p>SOCORRO</p>
                    <div th:each="produto: ${produtoProdutores.produto}">
                        <h3 th:text="${produto.nome}"></h3>
                        <div class="box" th:each="produtor: ${produtoProdutores.produtor}">
                            <div class="flex equal-sizing flex-row">
                                <label class="radio">
                                    <input type="radio" name="produtores" th:value="${produtor.id}" th:id="${produtor.nome}">
                                    <span th:text="${produtor.nome}"></span>
                                </label>
                                <span><i class="fas fa-map-marker-alt"></i> Porto Alegre, RS</span>
                                <i class="fas fa-truck"></i>
                            </div>
                            <div>
                                <div class="flex equal-sizing flex-row">
                                    <div class="flex flex-row ">
                                        <i class="fas fa-spa "></i>
                                        <span th:text="${produto.cultivo.nome}"></span>
                                    </div>
                                    <div class="flex flex-row ">
                                        <span>Valor: R$</span>
                                        <span th:text="${produtoProdutor.preco}"></span>
                                    </div>
                                    <label class="label">Quantidade:
                                        <input size="5" type="text" placeholder="Ex: 4" name="quantidade" th:field="*{pedido.quantidade}">
                                    </label>
                                    <span>Total: R$ 0,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
</body>
</html>