<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
<section class="section">
	<section class="container">
		<div class="columns">
			<div class="column is-12">
				<form id="formVisualizarPedido" th:action="@{/pedidos/{id}(id=${pedido.id})}" method="post">
					<div class="field">
						<h1 class="title centraliza-texto" th:text="${pedido.nome}"></h1>
					</div>
					<div class="columns">
						<div class="column is-12">
							<div class="box rz-box">
								<div class="rz-box-body px-0 pb-0">
									<table class="rz-table striped">
										 <span th:each="pedidosProdutosProdutores : ${pedido.pedidosProdutosProdutores}">
											<thead>

											<th class="" th:text="${pedidosProdutosProdutores.produtoProdutor.produtor.nome}"></th>

											</thead>

											 <tbody class="table-body">

											  <tr>
												<td>
												  <span class="flex space-between" th:text="${pedidosProdutosProdutores.produtoProdutor.produto}"></span>
												</td>
												  <td>
												  <span class="flex space-between" th:text="${pedidosProdutosProdutores.produtoProdutor.preco}"></span>
												</td>
											  </tr>

											  </tbody>
										 </span>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="flex space-between">
						<a class="button rz-button is-rounded" th:href="@{/pedidos}">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</section>
</section>
</body>
</html>