<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title">Minhas listas</h1>
      <div class="columns">
        <div class="column is-12">
          <div class="box rz-list striped">
            <div class="field">
              <div class="control">
                <ul>
                  <li class="rz-list row" th:each="lista: ${listasCriadas}">
                    <span th:text="${lista.nome}">
                    </span>
                    <div class="mb-0 ml-auto flex end buttons has-addons">
                      <span class="button rz-button list-style">
                        <i class="fas fa-edit"></i>
                      </span>
                      <span class="button rz-button list-style">
                        <i class="fas fa-shopping-basket"></i>
                      </span>
                      <form th:action="@{'/minha-lista/listas-criadas/excluir/' + ${lista.id}}" method="post"
                        name="meuform" th:onsubmit="return minhasListas.exibeConfirmacaDeExclusaoDaLista()">
                        <button type="submit" class="button rz-button list-style">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                    <hr>
                  </li>
                </ul>
                <div class="rz-list row">
                  <form th:action="'/'" method="get">
                    <button class="button rz-button is-rounded" type="submit">Voltar</button>
                  </form>
                  <form th:action="'/minha-lista/cadastro'" method="get">
                    <button class="button rz-button is-rounded" type="submit">Nova Lista</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>