<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title centraliza-texto">Minhas listas</h1>
      <div th:if="${mensagemSalvoComSucesso} != null">
        <span th:text="${mensagemSalvoComSucesso}"></span>
      </div>
      <div th:if="${erro} != null">
        <span th:text="${erro.mensagem}"></span>
      </div>
      <div class="columns">
        <div class="column box is-12 rz-list striped">
            <div class="field">
              <div class="control">
                  <ul>
                      <li class="rz-list row rx-0">
                        <h3 class="flex-column subtitle">Nome da lista</h3>
                      </li>
                      <hr>
                    </ul>
                <p class="centraliza-texto" th:if="${listasCriadas.isEmpty()}">Não há listas criadas.</p>
                <ul class= "listas">
                  <li class="rz-list row" th:each="lista: ${listasCriadas}">
                    <span class= "flex-column" th:text="${lista.nome}"></span>
                    <div class="mb-3 ml-auto flex end buttons has-addons">
                      <a class="button rz-button list-style">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a class="button rz-button list-style">
                        <i class="fas fa-shopping-basket"></i>
                      </a>
                      <form th:action="@{/minhas-listas/{id}/excluir(id=${lista.id})}" method="post" name="meuform"
                        th:onsubmit="return minhasListas.exibeConfirmacaDeExclusaoDaLista()">
                        <button type="submit" class="button rz-button list-style">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rz-list row">
                <a class="button rz-button is-rounded" type="submit" th:href="@{/}">Voltar</a>
                 <a class="button rz-button is-rounded" type="submit" th:href="@{/minhas-listas/criar}">Nova Lista</a>
               </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>