<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Pessoas</title>
</head>
<body>

<section class="section">

    <section class="container">

        <h1 class="title">Cadastrar Pessoa</h1>

        <div class="columns">
            <div class="column is-6">
                <div class="box">
                    <h2 class="subtitle">Dados Pessoais</h2>
                    <form action="/pessoa/cadastro" method="post">
                        <div class="field">
                            <label class="label">Nome</label>
                            <div class="control">
                                <input class="input" type="text" name="nome" placeholder="Nome">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Sobrenome</label>
                            <div class="control">
                                <input class="input" type="text" name="sobrenome" placeholder="Sobrenome">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</section>

</body>
</html>