<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pessoas</title>
</head>

<body>

<div class="section">
    <div class="container">
        <h1 class="title">Pessoas</h1>

        <div class="columns is-multiline">
            <div class="column is-4" th:each="pessoa: ${pessoas}">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong th:text="${pessoa.nome}"></strong>
                                    <small>@johnsmith</small>
                                    <small>31m</small>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet
                                    massa
                                    fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>