<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
<section class="section">

    <section class="container">

        <h1 class="title">Crie a sua Lista</h1>

        <div class="columns">
            <div class="column is-6">
                <div class="box">
                    <form action="/minhalista/cadastro" method="post">
                        <div class="field">
                            <label class="label">Nome da sua Lista</label>
                            <div class="control">
                                <input class="input" type="text" name="nome" placeholder="Ex.: Minha Lista Compras 1">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Selecione produtos:</label>
                            <div class="control">
                                    <ul class="lista-produtos">
                                        <li th:each="produto: ${produtos}">
                                            <label class="checkbox">
                                                <input type="checkbox" name="produtos" th:value="${produto.id}">
                                                <span th:text="${produto.nome}">
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                            </div>
                        </div>



                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</section>

</body>
</html>
