<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title">Crie a sua Lista</h1>
      <div class="columns">
        <div class="column is-6">
          <div th:if="${Erro} != null">
            <span th:text="${Erro.mensagem}"></span>
          </div>
          <div class="box">
            <form id="formCriaLista" th:action="'/minhas-listas/salvar'" method="post">
              <div class="field">
                <label class="label">Nome da sua Lista</label>
                <div class="control">
                  <input class="input" type="text" th:field="*{lista.nome}" placeholder="Ex.: Minha Lista Compras 1" />
                </div>
                <div class="help-block"></div>
              </div>
              <div class="field">
                <label class="label">Selecione produtos:</label>
                <div class="control">
                  <ul class="categorias">
                    <li th:each="categoria: ${categorias}">
                      <h3 class="centraliza-texto" th:text="${categoria.nome}"></h3>
                      <ul class="lista-produtos">
                        <li th:each="produto: ${categoria.produtos}">
                          <label class="checkbox">
                            <input type="checkbox" name="produtos" th:value="${produto.id}">
                            <span th:text="${produto.nome}">
                            </span>
                          </label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="help-block"></div>
              </div>
              <div class="field">
                <div class="control flex end">
                  <button class="button is-primary " type="submit">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>