<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body}, ~{::breadcrumb})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>

<breadcrumb th:if="${listaDePaginas}" class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li th:each="pagina: ${listaDePaginas}">
            <a th:text="${pagina.nome}" th:href="${pagina.url}"></a>
        </li>
        <li class="is-active"><a href="#" aria-current="page">Página Atual</a></li>
    </ul>
</breadcrumb>

<body>

<section class="section">

    <section class="container">

        <h1 class="title">Crie a sua Lista</h1>

        <div class="columns">
            <div class="column is-6">
                <div class="box">

                    <form th:action="'/minha-lista/cadastro'" method="post">

                        <div class="field">
                            <label class="label">Nome da sua Lista</label>
                            <div class="control">
                                <input class="input" type="text" name="nome" placeholder="Ex.: Minha Lista Compras 1">
                            </div>
                        </div>

                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder="Buscar produtos">
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Selecione produtos:</label>
                            <div class="control">
                                    <ul class="lista-produtos">
                                        <li th:each="produto: ${produtos}">
                                            <label class="checkbox">
                                                <input type="checkbox" name="produtos" th:value="${produto.id}">
                                                <span th:text="${produto.nome}">
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Avançar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>

</section>

</body>
</html>
