<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="section">

    <section class="container">

        <h1 class="title">Minhas listas</h1>

        <div class="columns">
            <div class="column is-10">
                <div class="box">
                    <div class="field">
                        <div class="control">
                            <ul class="lista-produtos">
                                <li th:each="lista: ${listasCriadas}">
                                    <span th:text="${lista.nome}">
                                    </span>
                                    <div class="mb-0 flex end buttons has-addons">
                                        <span class="button rz-botao">Visualizar</span>
                                        <span class="button rz-botao">Editar</span>
                                        <span class="button rz-botao" th:onclick= "minhasLista.excluirLista()">Comprar</span>

                                        <form th:action="@{'/minha-lista/listas-criadas/excluir/' + ${lista.id}}" method="post">
                                            <button class="button rz-botao" th:onclick="minhasLista.excluirLista()">Excluir</button>
                                        </form>

                                    </div>
                                    <hr>
                                </li>
                            </ul>
                            <form th:action="'/minha-lista/cadastro'" method="get">
                                <button class="button is-primary" type="submit">Nova Lista</button>
                            </form>
                        </div>
                    </div>

                    <div class="field">
                    </div>
                </div>
            </div>
        </div>

    </section>

</section>


</body>
</html>