<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="section">

    <section class="container">

        <h1 class="title">Minhas listas</h1>

        <div class="columns">
            <div class="column is-6">
                <div class="box">
                    <form th:action="'/minha-lista/listas-criadas'" method="post">
                        <div class="field">
                            <label class="label">Nome da sua Lista</label>
                            <div class="control">
                                <ul class="lista-produtos">
                                    <li th:each="tituloLista: ${tituloLista}">
                                        <label class="checkbox">
                                            <input type="checkbox" name="tituloLista" th:value="${tituloLista.id}">
                                            <span th:text="${tituloLista.nome}">
                                                </span>
                                        </label>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="field">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</section>


</body>
</html>