* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.agrupadora {
  height: 100vh;
  width: 100vw;
}

.cabecalho {
  align-items: center;
  background: #16a085;
  display: flex;
  height: 10%;
  justify-content: center;
}

.navegacao {
  align-items: center;
  background: #1abc9c;
  display: flex;
  height: 5%;
  justify-content: center;
}

.navegacao a {
  color: inherit;
  display: inline-flex;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.navegacao a:hover {
  background-color: #16a085;
}

.navegacao li {
  list-style: none;
}

.cabecalho, .navegacao {
  color: #ffffff;
}

.conteudo {
  height: 85%;
  width: 100%;
}

.conteudo img {
  height: 100%;
  width: 100%;
}