<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Raízes</title>
  <div>
  </div>
  </div>
</head>
<body>
  <div th:replace="fragmentos/breadcrumb"></div>
  <section class="is-fullheight-with-navbar">
    <div class="container">
      <h1 class="title">Raízes</h1>
        <div sec:authorize="isAuthenticated()">
            Logado como: <span sec:authentication="name">
      </span>
        </div>
    </div>
  </section>
</body>
</html>