<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Raízes</title>
  <div sec:authorize="isAuthenticated()">
    <div>
      Logado como: <span sec:authentication="name"></span>
    </div>
    <a th:action="@{/logout}">Logout</a>
  </div>
</head>
<body>
  <section class="is-fullheight-with-navbar">
    <div class="container">
      <h1 class="title">Raízes</h1>
      <h2 class="subtitle">Ainda não há nada por aqui.</h2>
    </div>
  </section>
</body>
</html>