<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout(title, content)" xmlns:th="http://www.thymeleaf.org" class="has-background-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title th:replace="${title}"></title>
    <link th:href="@{/assets/css/app.css}" rel="stylesheet">
</head>

<body class="has-background-light">
<header>
    <nav class="navbar is-mobile tw-navigation" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="ml-2 navbar-item icon-only" href="/">
                <svg class="navbar-item nav-icon" >
                    <use xlink:href="/assets/svg/spritmap.svg#sprite-skull"></use>
                </svg>
            </a>
            <a class="navbar-item" href="/pessoa/lista">
                <p class="titulo-nav">Produtos</p>
            </a>
            <a class="navbar-item" href="/minhalista/cadastro">
                <p class="titulo-nav">Criar Lista de Produtos</p>
            </a>
        </div>
    </nav>
</header>

<main th:replace="${content}"></main>
<div class="notification is-info">
    <button class="delete"></button>
    <div class="body"></div>
</div>
<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>