<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout(title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:replace="${title}"></title>
  <link href="/css/app.css" rel="stylesheet">
</head>
<body class="has-background-light">
  <header>
    <nav class="navbar flex flex-row" role="navigation" aria-label="main navigation">
      <div id="sanduiche" class="sanduiche">
        <a class="closebtn" onclick="Burger.toggleSanduiche()">
          <i class="fas fa-times"></i>
        </a>
        <a class="navbar-item is-primary is-inverted is-outlined " th:href="@{/minhas-listas/criar}">Criar Lista de
          Produtos</a>
        <a class="navbar-item is-primary is-inverted is-outlined" th:href="@{/minhas-listas}">Minhas Listas</a>
        <a class="navbar-item is-primary is-inverted is-outlined" th:href="@{/pedidos}">Pedidos</a>
      </div>
      <a class="sanduiche-button" onclick="Burger.toggleSanduiche()">
        <i class="fas fa-bars fas fa-2x"></i>
      </a>
      <div class="logo">
        <a th:href="@{/}">
          <img src="./images/logo.png">
        </a>
      </div>
    </nav>
    <nav class="m-2 ml-5 breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li th:each="pagina : ${@breadcrumb.paginas}"
          th:classappend="${@breadcrumb.ehPaginaAtiva(pagina)} ? 'is-active' : ''">
          <a th:href="${pagina.url}" th:text="${pagina.titulo}"></a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="main animated fadeIn">
    <main th:replace="${content}"></main>
    <div class="notification is-info">
      <button class="delete"></button>
      <div class="body"></div>
    </div>
  </div>
  <footer class="rz-footer">
    <span class="navbar-item siga">Siga a gente</span>
    <div class="flex flex-row rz-footer texto ">
      <a class="navbar-item" href="/">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="navbar-item" href="/">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="navbar-item" href="/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="navbar-brand has-text-left">
      <a class="navbar-item" href="/">
        <i class="fab fa-pagelines"></i>
        <span class="m-2 primary">Raízes</span>
      </a>
      <span class="m-2 navbar-item primary">Thoughtworks © 2019</span>
    </div>
  </footer>
  <div th:replace="fragmentos/modal"></div>
  <script src="/js/app.js"></script>
</body>
</html>