<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raízes</title>
</head>
<body>
<main>
    <!--<div th:if="${param.error}">-->
    <!--<p class="has-text-danger"> Usuário ou senha incorretos!</p>-->
    <!--</div>-->
    <div class="columns">
        <div class="column is-12">
            <div class="rz-box box">
                <div class="container card-content valign center has-text-centered">
                    <form th:action="@{/login}" method="POST">
                        <h1 class="title is-1">Raízes</h1>
                        <p class="control has-icons-left has-icons-right margin-left-10">
                            <i class="fas fa-user"></i>
                            <label for="email" >Email</label>
                        </p>
                        <input class="validate input input-fancy borda-arredondada" id="email" type="text" name="email">
                        <div class="columns">
                            <div class = "column is-half">
                                <p class="control has-icons-left has-icons-right margin-left-10">
                                    <i class="fas fa-lock"></i>
                                    <label for="password">Senha</label>
                                </p>
                                <input class="validate input input-fancy borda-arredondada" id="password" type="password" name="senha">
                            </div>
                        </div>
                        <button class="button verde-viavida is-medium borda-arredondada" type="submit" name="action">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>