<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>
<body>
  <main>
    <div>
      <div class="container card-content valign center">
        <h1 class="title titulo-h1">Formulário de Registro do Raízes</h1>
        <form th:action="@{/registrar}" th:object="${formUsuario}" method="post"
          onsubmit="return validaRegistrar(event)" id="registraAss">
          <div class="columns is-text-left">
            <div class="columns is-12">
              <div>
                <div class="box">
<!--                  <span th:each="tipoDeUsuario : ${tipoUsuario}">-->
<!--                    <input type="radio" th:text="${tipoDeUsuario.valor}" th:value="${tipoDeUsuario.valor}"-->
<!--                      th:name="tipoDeUsuario" th:field="*{tipoDeUsuario}">-->
<!--                  </span>-->

                  <select th:field="*{tipoDeUsuario}">
                    <option th:each="tipoDeUsuario : ${tipoUsuario}" th:text="${tipoDeUsuario.valor}" th:value="${tipoDeUsuario.name()}">
                    </option>
                  </select>
                  <div>
                    <label for="nomeAssistente">*Nome Completo:</label>
                    <input class="input input-fancy borda-arredondada" type="text" id="nomeAssistente"
                      th:field="*{nome}">
                  </div>
                </div>
                <div class="box">
                  <div class="columns">
                    <div class="column is-half"> <label for="nomeAssistente">*Rua:</label>
                      <input class="input input-fancy borda-arredondada" type="text" id="endereco"
                        th:field="*{endereco.rua}" placeholder="Ex: Rua João da Silva, 10" th:name="rua">
                    </div>
                    <div class="column is-half">
                      <label for="nomeAssistente">*Complemento:</label>
                      <input class="input input-fancy borda-arredondada" type="text" id="complemento"
                        th:field="*{endereco.complemento}" placeholder="Ex: Apartamento 101" th:name="complemento">
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-half">
                      <label for="nomeAssistente">*Bairro:</label>
                      <input class="input input-fancy borda-arredondada" type="text" id="bairro"
                        th:field="*{endereco.bairro}" placeholder="Ex: Centro" th:name="bairro">
                    </div>
                    <div class="column">
                      <label for="cidade">*Cidade:</label>
                      <div class="control">
                        <div class="select">
                          <select th:field="*{endereco.cidade.nome}">
                            <option th:each="cidades : ${cidade}" th:text="${cidades.nome}" th:value="${cidades.nome}" th:name="nome">
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <label for="uf">*Estado:</label>
                      <div class="control">
                        <div class="select">
                          <select th:field="*{endereco.cidade.estado.uf}">
                            <option th:each="estados : ${estado}" th:text="${estados.uf}" th:value="${estados.uf}" th:name="uf" th:id="uf">
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box">
                    <div class="columns">
                      <div class="column is-half">
                        <label for="emailDaAssistente" id="emailAssistente">*E-mail:</label>
                        <input class="input input-fancy borda-arredondada" th:field="*{email}" type="text"
                          id="emailDaAssistente">

                        <label for="password">*Senha:</label>
                        <input class="input input-fancy borda-arredondada" th:field="*{senha}" id="password"
                          type="password" name="senha">
                      </div>
                      <div class="column is-half">
                        <label for="telefoneAssistente" id="telefoneAss">*Telefone:</label>
                        <input class="input input-fancy borda-arredondada" type="text" id="telefoneAssistente"
                          th:field="*{contato}" th:name="contato">
<!--                        <label for="password">*Repetir senha:</label>-->
<!--                        <input class="input input-fancy borda-arredondada" th:field="*{senha}" id="passwords"-->
<!--                          type="password" name="senha">-->

                        <div class="column"> <label for="numero">*Rua:</label>
                          <input class="input input-fancy borda-arredondada" type="text" id="numero"
                                 th:field="*{endereco.numero}" th:name="numero">
                        </div>
                      </div>
                    </div>
                    <div>
                      <input class="button is-medium verde-viavida borda-arredondada" type="submit" value="Enviar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>