<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>

<body>
  <main>
    <!--<div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.dominio.TipoDeUsuario).CLIENTE.getValor())">-->
    <!--Você não tem autorização para acessar essa página-->
    <!--</div>-->
    <!--<div sec:authorize="hasAuthority(T(com.thoughtworks.aceleradora.dominio.TipoDeUsuario).PRODUTOR.getValor()">-->
    <div>
      <div class="container card-content valign center">
        <h1 class="title titulo-h1">Formulário de Registro do Raízes</h1>
        <form th:action="@{/registrar}" th:object="${formUsuario}" method="post"
          onsubmit="return validaRegistrar(event)" id="registraAss">
          <div class="columns is-text-left">
            <!-- <div class="display-none div-escondida"> -->
            <div class="columns is-12">
              <div>
                <div class="box">
                  <span th:each="tipoDeUsuario : ${tipoUsuario}">
                    <input type="radio" th:text="${tipoDeUsuario.valor}" th:value="${tipoDeUsuario.valor}"
                      th:name="teste">
                  </span>
                  <div>
                    <label for="nomeAssistente">*Nome Completo:</label>
                    <input class="input input-fancy borda-arredondada" type="text" id="nomeAssistente"
                      th:field="*{nome}">
                  </div>
                </div>
                <div>
                  <div class="box">
                    <label for="emailDaAssistente" id="emailAssistente">*E-mail:</label>
                    <input class="input input-fancy borda-arredondada" th:field="*{email}" type="text"
                      id="emailDaAssistente">
                    <label for="telefoneAssistente" id="telefoneAss">*Telefone:</label>
                    <input class="input input-fancy borda-arredondada" type="text" id="telefoneAssistente"
                      th:field="*{contato}">
                    <label for="password">*Senha:</label>
                    <input class="input input-fancy borda-arredondada" th:field="*{senha}" id="password" type="password"
                      name="senha">
                    <div>
                      <span th:text="${formUsuario.email}"></span>
                      <input class="button is-medium verde-viavida borda-arredondada" type="submit" value="Enviar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>