<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Raízes</title>
</head>

<body>
    <main>
        <div>
            <div class="container card-content valign center">
                <h1 class="title titulo-h1">Formulário de Registro do Raízes</h1>
                <form th:action="@{/selecionaUsuario}" th:object="${formUsuario}" method="post"
                    onsubmit="return validaRegistrar(event)" id="registraAss">
                    <div class="columns is-text-left">
                        <div class="columns is-12">
                            <h1>Você é?</h1>
                                <a class="button rz-button is-rounded" th:href="">Cliente</a>
                            <a class="button rz-button is-rounded" th:href="">Produto</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>