<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
    <link href="/css/estilo.css" rel="stylesheet">
</head>
<body>
    <div class="agrupadora">
        <header class="cabecalho">
            <h1>Esqueleto Ambulante</h1>
        </header>

        <nav class="navegacao">
            <ul>
                <a href="/"><li>Início</li></a>
                <a href="/pessoa/lista"><li>Pessoas</li></a>
                <a href="/pessoa/cadastro"><li>Cadastrar Pessoa</li></a>
            </ul>
        </nav>

        <div class="conteudo">
            <img src="https://media3.giphy.com/media/l4JyOCNEfXvVYEqB2/giphy.gif">
        </div>
    </div>
</body>
</html>