@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  background-color: white;
}

h1, h3 {
  font-family: 'Raleway', sans-serif; 
  color: $primary-color;
  text-align: center;
}

.box{
  $box-padding: 0;
}

