@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
}

.title {
  color: $secondary-color;
}

h1 {
  font-family: 'Raleway', sans-serif; 
  color: $secondary-color;
  text-align: center;
  }

.box {
  $box-padding: 0;
}

h2 {
  font-family: 'Raleway', sans-serif; 
  color: $secondary-color;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: $secondary-color;
  text-align: center;
  font-size: 1.0em;
}

