@import url('https://fonts.googleapis.com/css?family=Montserrat');

.rz-button {
  font-family: 'Montserrat', sans-serif;
  background-color: $btn-color;
  color: black;
  margin-bottom: 0 !important;

  &.list-style {
    &:last-child {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }
  }

  &:hover {
      border: 1px solid $btn-hover;
      background: $btn-hover;
      color: white;
      font-weight: bold;
  } 

  
}