@import url('https://fonts.googleapis.com/css?family=Montserrat');

.rz-botao {
  font-family: 'Montserrat', sans-serif;
  background-color: $btn-color;
  color: black;

  &:hover {
      border: 1px solid $btn-hover;
      background: $btn-hover;
      color: white;
  } 

  
}