span.bigcheck {
  display: block;
  padding: 0.5em;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  display: none;
}
input[type="checkbox"]:checked + .bigcheck   {
  background-color: #cfe3a9;
  padding: 6px 16px;
  border-radius: 6px;
  position: relative;
  color: $secondary-color;
}
.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border-color: $third-color;
  box-shadow: 0 0 0 0.125em rgba(160, 197, 100, 0.54);
}
.bigcheck {
  min-height: 48px;
}
label {
  padding: 6px;
}