.rz-form {
  span.bigcheck {
    display: flex;
    align-items: center;
    padding: 0.5em;
    min-height: 50px;
    position: relative;
  }
  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: baseline;
    display: none;
  }
  input[type="checkbox"],
  input[type="radio"] {
    ~ label {
      padding: 5px 23px 5px 28px;
      border: 1px solid #cfe2a9;
    }
    ~ span.check {
      position: absolute;
      visibility: hidden;
      color: #394d17;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 6px;
    }

    &:checked {
      ~ label {
        background-color: #cfe3a9;
        border-radius: 6px;
        position: relative;
        color: #394d17;
      }
  
      ~ span.check {
        visibility: visible;
      }
    }
  }
  .input:focus,
  .input.is-focused,
  .input:active,
  .input.is-active,
  .textarea:focus,
  .textarea.is-focused,
  .textarea:active,
  .textarea.is-active {
    border-color: $third-color;
    box-shadow: 0 0 0 0.125em rgba(160, 197, 100, 0.54);
  }
  .checkbox {
    padding: 5px 1px 12px 22px;
  }
}
.radio {
  padding: 5px 1px 12px 22px;
}
input[type="radio"] {
  vertical-align: baseline;
  display: none;
}
input[type="radio"] {
  ~ label {
    padding: 0;
    user-select: none;
  }
  ~ span.check {
    position: absolute;
    visibility: hidden;
    top: 50%;
    color: #394d17;
    transform: translateY(-50%);
  }
  ~ span.radio-check {
    margin-right: 10px;
  }

  &:checked {
    ~ label {
      border-radius: 6px;
      position: relative;
      color: #394d17;
    }
    ~ span.check {
      visibility: visible;
      padding-right: 2%;
    }
    ~ span.radio-check {
      visibility: hidden;
    }
  }
}
.span-transport{
  text-align: center;
}
.tipo {
  padding-left: 7px;
}
.produto {
  padding-top: 5%;
}
.preco{
  padding-block-start: 25px;
  }
.form-input{
  width:350px;
}