.rz-list {
  align-items: center;
  margin-bottom: 0;

  .rz-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &.striped {
    .rz-list-item {
      &:nth-child(odd) {
        background: $striped-row;
      }
      &:nth-child(even) {
        background: #fff;
      }
    }
  }

  &.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0px 30px;
  }
}