.rz-list {
  align-items: center;
  margin-bottom: 0;
  padding: 0px 60px 10px;
  &.striped {
    li {
      &:nth-child(even) {
        background: #f5f5f5;
      }
      &:nth-child(odd) {
        background: #fff;
      }
    }
  }

  &.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0px 30px;
  }
}

.box {
  padding: 20px 0px;
}
ul.lista-pedidos {
  margin-top: -18px;
}