.tw-navigation {


    .nav-icon {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    .navbar-item {
        &.icon-only {
            padding: 0;
        }
    }
}

.is-active.navbar-burger {
    position: fixed;
}

.navbar{
    background-color: white;
    border-bottom: 3.5px solid $third-color;
    box-shadow: 2px -3px 10px 0px #5a5959;
}






