<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raízes</title>
</head>
<body>
<section class="section">
    <section class="container">
        <h1 class="title">Adicionar Produto</h1>
        <div class="columns">
            <div class="column is-12">
                <div class="rz-box box">
                    <form id="formEditarProduto">
                        <div class="rz-box-body">
                            <label>Produto:</label>
                            <div class="select">
                                <select name="select">
                                    <option selected>mamao papaya</option>
                                    <option>maça</option>
                                    <option>banana</option>
                                </select>
                            </div>
                        </div>
                        <div class="rz-box-body">
                            <label>Tipo de Cultivo</label>
                            <div class="select">
                                <select name="select">
                                    <option selected>hidroponico</option>
                                    <option>convencional</option>
                                    <option>organico</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row space-between">
                            <div class="rz-box-body">
                                <label>Quantidade:</label>
                                <span>100</span>
                            </div>
                            <div class="rz-box-body">
                                <label>Valor:</label>
                                <span>R$ 3,50</span>
                            </div>
                        </div>
                        <div class="rz-box-footer flex space-between">
                            <button class="button rz-button is-rounded">Voltar</button>
                            <button class="button rz-button is-rounded">Adicionar produto ao estoque</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
</body>
</html>