<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title">Cadastrar Produto</h1>
      <div class="columns">
        <div class="column is-6">
          <div th:if="${mensagemSalvoComSucesso} != null">
            <span th:text="${mensagemSalvoComSucesso}"></span>
          </div>
          <div class="box">
            <form id="formCadastraProduto" th:object="${produtoProdutor}" th:action="@{/produtos/cadastro}" method="post">
              <input type="hidden" th:field="*{produtor}" th:value="${produtoProdutor.produtor.id}">
              <div class="field">
                <label class="label">Produto</label>
                <div class="control">
                  <div class="select">
                    <select th:field="*{produto}">
                      <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
                    </select>
                  </div>
                </div>
                <div class="help-block"></div>
              </div>
              <div class="field">
                <label class="label">Tipo de Cultivo</label>
                <div class="select">
                  <select th:field="*{tipoDeCultivo}">
                    <option th:each="cultivo : ${cultivos}" th:text="${cultivo.codigo}" th:value="${cultivo.name()}"></option>
                  </select>
                </div>
                <div class="help-block"></div>
              </div>
              <div class="field">
                <label class="label">Valor</label>
                <input th:field="*{preco}">
                <div class="help-block"></div>
              </div>
              <div class="field">
                <div class="control flex end">
                  <button class="button is-primary " type="submit">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>