<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aceleradora Ágil - Esqueleto Ambulante</title>
</head>
<body>
<section class="section">
    <section class="container">
        <h1 class="title">Editar Produto</h1>
        <div class="rz-box-body box">
            <div class="column is-6 is-offset-3">
                    <form id="formEditarProduto"
                          th:action="@{/produtoss/{id}/editar(id=${produtoProdutor.id})}"
                          th:object="${produtoProdutor}"
                          method="post">
                        <input th:type="hidden" th:field="*{produtor.id}"/>
                        <input th:type="hidden" th:field="*{produto.id}" />
                        <div class="field">
                            <label>Produto:</label>
                            <input disabled th:type="text" th:field="*{produto.nome}"/>
                        </div>
                        <div class="field">
                            <label>Tipo:</label>
                            <input disabled th:type="text" th:field="*{tipoDeCultivo}" />
                        </div>
                        <div class="field">
                            <label>Valor:</label>
                            <input th:field="*{preco}" />
                        </div>
                        <div class="field">
                            <label>Quantidade:</label>
                            <input type="number" th:field="*{quantidadeEstoque}" />
                        </div>
                        <div class="field">
                            <div class="control flex end">
                                <button class="button is-primary" type="submit">Adicionar produto ao estoque</button>
                            </div>
                            <button class="button is-primary">Voltar</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</section>
</body>
</html>