<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Raízes</title>
</head>
<body>
  <section class="section">
    <section class="container">
      <h1 class="title centraliza-texto">Meu Estoque</h1>
      <div th:if="${mensagem} != null">
        <span th:text="${mensagem}"></span>
      </div>
      <p class="centraliza-texto" th:if="${produtosProdutor.isEmpty()}">Não há produtos no seu estoque.</p>
      <div class="columns">
        <div class="column is-12">
          <div class="box rz-box">
            <div class="field">
              <div class="rz-box-body px-0 pb-0">
                <table class="rz-table striped">
                  <thead class="table-header">
                    <th>Produto</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                  </thead>
                  <tbody class="table-body">
                    <tr th:each="produto : ${produtosProdutor}">
                      <td>
                        <span th:text="${produto.produto.nome}"></span>
                      </td>
                      <td>
                        <span th:text="${produto.tipoDeCultivo.codigo}"></span>
                      </td>
                      <td>
                        <span th:text="${produto.quantidadeEstoque}"></span>
                      </td>
                      <td>
                        <span>R$</span>
                        <span th:text="${produto.preco}"></span>
                        <span>/</span>
                        <span th:text="${produto.produto.unidadeMedida.codigo}"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="rz-box-footer flex space-between p-3">
                <a class="button rz-button is-rounded" th:href="@{/}">Voltar</a>
                <a class="button rz-button is-rounded" th:href="@{/produtos/cadastro}">Adicionar Produto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>